# Config LLM
OPENAI_API_KEY=''


# Config Langsmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=''
LANGSMITH_PROJECT="Reflection Agent"

# Config Tavily
TAVILY_API_KEY=''
